@model SimpleForum.ViewModels.AuthLogin

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Login to my forum</title>

    @Styles.Render("~/styles/login")
    @Styles.Render("~/styles")
</head>

<body>

    <div class="container">
        @using (Html.BeginForm("Login", "Auth", FormMethod.Post, new { role = "form", @class = "form-signin" }))
        {
            <h2 class="form-signin-heading">Sign in to management panel</h2>
            @Html.TextBoxFor(x => x.Username, new { @class = "form-control", required = true, autofocus = true, placeholder = Html.DisplayNameFor(x => x.Username) })
            @Html.TextBoxFor(x => x.Password, new { @class = "form-control", required = true, type = "password", placeholder = Html.DisplayNameFor(x => x.Password) })
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        }


    </div>
</body>
</html>